/* .linha {
    position: relative;
    height: 100%;
    margin: auto;
} */


.footer{
    width: auto;
    /* padding-bottom: 2rem; */
    /* margin: 0;
    bottom: 0; */
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #010f36;
    padding: 2px;
    font-size: 12px;
    /* padding-top: 15px; */
    align-items: center;
    margin-bottom: 2rem;
    

    /* position: absolute; */
    bottom: 0;
    left: 0;
    right:0;
    /* height:100px; */
    /* background:#ccc; */

}
img {
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    /* padding: 2px; */
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: .5rem;
    width: 45px;
  }

p {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 2rem;
    padding-top: 1rem;
    font-size: 14px;
    color: rgb(194, 187, 187);
}